# Entornos virtuales
venv/
env/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python
*.pyc
__pycache__/

# Archivos de logs
*.log

# Configuración de IDEs
.idea/
.vscode/
*.iml
